* {
    margin: 0;
    padding: 0;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {

    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(180, 117, 0, .5);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(180, 117, 0, 1);
}

@media only screen and (min-width: 768px) {

    #Contact,
    #Resume,
    #Works {
        height: 75vh;
        display: none;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #About {
        overflow: scroll;
        overflow-y: scroll;
        height: 75vh;
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 768px) {

    #About,
    #Resume,
    #Works,
    #Contact {
        display: block !important;
        opacity: 1 !important;
        transform: translateX(0) !important;
        overflow: visible;
        border-radius: 10px;
    }
}

#contact h3 span,
#About h3 span,
#Resume h3 span,
#Works h3 span {
    color: #b47500;
}


#Contact li,
#About li {
    margin-bottom: 10px;
    border: 0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(45deg, black, orange) 1;
    margin: 10px;
    padding: 5px;
}

#Contact strong,
#About strong {
    color: #b47500;
    padding: 0 10px;
    margin-left: 5px;
    border-radius: 5px;
}

.change a {
    text-decoration: none;
    color: #b47500;
}

.change img {
    padding: 25px;
    border-radius: 20px;
}

.change img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

#About li span {
    float: right;
}

#about i {
    color: white;
}

.code {
    height: 70px;
    width: 70px;
    background-color: #b47500;
    border-radius: 50%;
    text-align: center;
    padding-top: 18px;
    margin: 10px auto;
}

#Resume i {
    color: #b47500;
    padding-bottom: 10px;
}

#Resume li {
    padding-bottom: 5px;
}

.bg-col {
    background-color: #b47500;
}

.mycolor {
    color: #b47500;
}

.myimg {
    height: 70%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 35%;
}

.imgDIV {
    width: 100%;
    height: 80vh;
    background-color: #110b00;
}

.cardDiv {
    z-index: 10;
    border: 3px solid #b47500;
    border-radius: 5px;
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressb"] {
    --size: 7rem;
    --fg: #b47500;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 5s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

div[role="progressb"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

/* #Resume h3 span{
    color: #b47500;
} */
/* #About h3 span{
    color: #b47500;
} */
/* #About ul{
    list-style: none;
    
} */
/* #About li{
    margin-bottom: 10px;
    border:0 0 3px 0;
    border-style: solid;
    border-image: linear-gradient(45deg, black, orange ) 1;
    margin: 10px;
    padding: 5px;
} */
/* #About strong{
    color: #b47500;
    padding:0 10px;
    margin-left: 5px;
    border-radius: 5px;
} */
/* #Contact button{
    background-color: #b47500;
} */
/* #Works h3 span{
    color: #b47500;
} */
/* #Contact ul,
#About ul {
    list-style: none;

} */